/*Universal Settings*/
html {
  font-size:16px;
  font-family:helvetica,sans-serif;
}
body {
  line-height:1.2;
  color:#4A4A4A;
}
.bold {
  font-weight:bold;
}
.lightgrey {
  background-color:lightgrey;
}
/*
.border {
  border:1px solid black;
}
*/
h1 {
  font-weight:800;
  font-size:2rem;
}
h2 {
  font-weight:750;
  font-size:1.8rem;
}
h3 {
  font-weight:bold;
  font-size:1.5rem;
}



/*Heading*/
header {
  height:4rem;
  background:white;
  width:100%;
  z-index:1;
  position:fixed;
}
.heading {
  padding:1rem 1.5rem;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.logo {
  display:flex;
  align-items:center;
  height:2rem;
  font-size:1rem;
}
.logo img {
  height:2rem;
}
.grey {
  color:grey;
}
.navigation span{
  margin-left:1rem;
  font-size:1rem;
}



/*Main Content*/
.main {
  position:relative;
  top:4rem;
}
/*Learn*/
.banner {
  display:flex;
  align-items:center;
}
.banner img {
  margin:2rem 1.5rem;
  width:60%;
}
.banner .contents {
  max-width:30%;
  margin-left: 1.5rem;
}
.banner .details h1, .banner .details h4 {
  margin-bottom:2rem;
}
.banner .button {
  color:white;
  background-color:#4A4A4A;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  text-align: center;
}



/*It doesn't hurt to keep practicing*/
.practice {
  display:flex;
}
.practice .contents {
  display:flex;
  flex-direction: column;
  padding:2rem 1.5rem;
  max-width:60%;
}
.practice .contents .main-image{
  max-width: 100%;
  margin-bottom:2rem;
}
.practice .less-width {
  max-width:80%;
}
.practice .less-width p {
  margin-top:2rem;
  line-height:1.4;
}
.practice .note {
  color:black;
}
.practice h2 {
  margin-bottom:1.5rem;
}

.practice .supporting {
  max-width: 40%;
  padding-top:2rem;
}
.practice .supporting img {
  height:auto;
  max-width:35%;
  margin:1rem;
}
.practice .supporting .seperation {
  max-width:65%;
}
.date, .campus, .lecture {
  display:flex;
  align-items:center;
}
.practice .supporting p {
  margin:0.5rem 0;
}
.grey-border {
  border:1px solid lightgrey;
}



/*Start learning*/
.start-learning {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:2rem 4.5rem;
}
.start-learning .top, .start-learning .bottom {
  margin-top:2rem;
}
.start-learning .outer img {
  height:auto;
  max-width:100%;
}
.start-learning .outer .supporting {
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.start-learning .supporting .middle {
  margin:0 2rem;
}

.start-learning .contents {
  background-color:white;
  max-width:30%;

}
.start-learning .contents h3 {
  margin-top:1rem;
}
.start-learning .contents h5 {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  font-size:1.3rem;
  color:grey;
}
.start-learning .contents .details {
  margin-left:1rem;
  margin-bottom:1.5rem;
}



/*Thesis*/
.thesis .title {
  text-align: center;
  margin:2rem 0;
}
.thesis .supporting {
  display:flex;
}
.thesis .supporting .video{
  max-width:60%;
  margin:0 1.5rem;
}
.thesis .supporting video {
  height:auto;
  max-width:100%;
}
.thesis .left .contents {
  margin-top:1.5rem;
  margin-bottom:2rem;
}
.thesis .left .contents p {
  margin-top:0.5rem;
  line-height:1.4;
  max-width:80%;
}

.thesis .right {
  max-width:40%;
}
.thesis .right .sub-supporting {
  display:flex;
  align-items: center;
}
.thesis .right img {
  margin:1rem;
  max-width:35%;
  height:auto;
}
.thesis .right .contents {
  max-width:65%;
}
.thesis .right .top h3, .thesis .right .top p {
  max-width:80%;
}
.thesis .right .contents p {
  margin-top:0.5rem;
  color:grey;
  font-size:1.1rem;
  line-height:1.4;
}

/*Footer*/
footer {
  position:relative;
  top:4rem;
}
.border-top {
  border-top:1px solid lightgrey;
}
